@import '../base/variables';
.footer{
    background-color: $negro;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    margin: 0;
    padding: 1rem;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.redes_footer{
    display: flex;
    align-items: center;
}
.redes_footer p{
    margin-right: 1rem;
    font-size: 1.2rem;
}

@media (max-width: 435px){
    .footer{
        flex-direction: column;
    }
    .enlaces_footer{
        display: flex;
        flex-direction: row;
    }
}