.contenidoFormulario{
    padding-top: 3rem;
}
.encabezadoContacto{
    font-size: 2.3rem;
    background-color: var(--negro);
    margin: 0;
    padding: 2rem;
    color: var(--blanco);
}

.formulario{
    margin: 0 auto;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    width: 65%;
    background: rgb(147,147,103);
    background: radial-gradient(circle, rgba(147,147,103,1) 17%, rgba(181,167,85,1) 97%);
    color: var(--blanco);
    border: 2px solid antiquewhite;
    padding: 2rem;
}