@import '../base/variables';
@import '../base/mixins';
.titulo_foro{
    color: $blanco;
    font-family: $fuentePrincipal;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.gridForo{
    border: #000 solid 1.5px;
    margin: 5rem;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.encabezadoForo{
    font-size: 1.3rem;
    background-color: #283E51;
    padding: 0.5rem;
}

.avatar_foro{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    background-color:rgb(99, 102, 154);
    border-bottom: rgb(51, 49, 49) solid 0.5px ;
}
.avatar_foro img{
    margin: 0 auto;
}

.aporte{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgb(5, 5, 5);
}
.comentario{
    grid-column: 2/3;
    background-color: rgb(75, 75, 75);
}
.like{
    display: flex;
    align-items: center;
    grid-row: 2/3;
    border-bottom: rgb(51, 49, 49) solid 0.5px;
}
.like, .dislike{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:rgb(99, 102, 154);
    grid-column: 3/4;
}

.numero_like{
    color: $negro;
    font-family: $fuentePrincipal;
    font-size: 2rem;
    font-weight: 500;
}

.numero_dislike{
    color: rgb(215, 53, 53);
    font-family: $fuentePrincipal;
    font-size: 2rem;
    font-weight: 500;
}

.numero_dislike,
.numero_like{
    background-color: $blanco;
    padding: 0.6rem;
    border-radius: 1px;

}
.aporte, .comentario{
    color: $blanco;
    font-size:larger;
    padding: 1.2rem;
}
.info_usuario{
    background-color:rgb(99, 102, 154);
    grid-column: 1/2;
    display:block;
    padding-left: 1rem;
    padding-top: 1rem;
    font-family: $fuentePrincipal;
    font-size: larger;
    font-weight: 500;
}
.info_usuario span{
    color: $negro;
}
//-----------Media Queries---------
@include tablet{
    .avatar_foro img{
        height: 4rem;
        width: 4rem;
    }
}
