@import '../base/variables';
.contenidoFormulario{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.encabezadoContacto{
    font-size: 2.3rem;
    background-color: $negro;
    margin: 0;
    padding: 2rem;
    color: $blanco;
    border-radius: 1.5rem;
}

.formulario{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    background: rgba(0, 0, 0, 0.103);
    color: $blanco;
    // border: 2px solid antiquewhite;
    border-radius: 1.5rem;
    padding: 2rem;
    font-family: $fuentePrincipal;
    font-weight: 600;
}

.formulario {
    input, textarea{
        border-radius: 1rem;
    }

}

//-----------Media Queries---------
@include mobile{
    .formulario{
        width: 90%;
    }
}
@include tablet{
    .formulario{
        width: 75%;
    }
}