
.contenido2{
    padding-top: 5rem;
    display: block;
    margin: 0 auto;
    text-align: center;

}


.contenido2 h2{
    font-size: 5rem;
}
.contenido2 p{
    font-size: 2rem;
    text-transform: uppercase;
}

.galeria{
    padding-top: 3rem;
}
